<script
  src="{{url_for('static', filename='add.js')}}"
  type="module"
  defer
></script>
{% extends "base.html" %}
<!--  -->

{% block title %}Add{% endblock %}
<!--  -->
{% block page_title %}ADD{% endblock %}
<!--  -->
{%block page_content%}
<form action="/add" method="POST">
  <div
    id="add-form-div"
    style="display: grid; width: min(50%, 350px); margin-bottom: 1rem"
  >
    <label for="plaintiff">Plaintiff</label>
    <input type="text" name="plaintiff" id="plaintiff" />

    <label for="last-name">Last Name</label>
    <input type="text" name="last-name" id="last-name" required />

    <label for="first-name">First Name</label>
    <input type="text" name="first-name" id="first-name" required />

    <label for="middle-name">Middle Name</label>
    <input type="text" name="middle-name" id="middle-name" />

    <label for="address">Address</label>
    <input type="text" name="address" id="address" />

    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" id="dob" required />

    <label for="citation-number">Citation Number</label>
    <input type="text" name="citation-number" id="citation-number" required />

    <label for="case-status">Case Status</label>
    <select name="case-status" id="case-status" required>
      <option value=""></option>
      <option value="Closed">Closed</option>
      <option value="Open">Open</option>
    </select>

    <label for="case-type">Case Type</label>
    <select name="case-type" id="case-type" required>
      <option value=""></option>
      <option value="Criminal">Criminal</option>
      <option value="Civil">Civil</option>
      <option value="Traffic">Traffic</option>
    </select>

    <div class="offense-group" style="display: grid">
      <label for="offense">Offense</label>
      <input type="text" name="offense" id="offense" />

      <label for="offense-date">Offense Date</label>
      <input type="date" name="offense-date" id="offense-date" />

      <label for="offense-type">Offense Type</label>
      <select name="offense-type" id="offense-type">
        <option value=""></option>
        <option value="Citation">Citation</option>
        <option value="Misdemeanor">Misdemeanor</option>
        <option value="Felony">Felony</option>
        <option value="Contract">Contract</option>
        <option value="Landlord/Tenant">Landlord/Tenant</option>
        <option value="Divorce">Divorce</option>
        <option value="Civil Judgment">Civil Judgment</option>
      </select>
    </div>
  </div>
  <button id="add-offense-button" type="button">Add Offense</button>
  <button id="remove-offense-button" type="button" style="display: none">
    Remove Offense
  </button>
  <br />
  <br />
  <button
    id="add-form-button"
    type="submit"
    style="text-transform: uppercase; padding: 8px"
  >
    Add
  </button>
</form>
<button
  id="random-record-button"
  style="text-transform: uppercase; padding: 8px"
>
  Random Record
</button>
{% endblock %}
