<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sierra County - Disclaimer</title>
  </head>
  <body>
    <h1 style="text-align: center">County Search</h1>
    <ul>
      <li><a href="/">Search</a></li>
      <li><a href="/add">Add</a></li>
      <li><a href="/results">Results</a></li>
      <!-- <li><a href="/delete">Delete</a></li> -->
    </ul>
    <!-- <h2>ADD</h2> -->
    <!-- <form action="/" method="POST">
      <div style="display: grid; width: min(50%, 350px); margin-bottom: 1rem">
        <label for="plaintiff">Plaintiff</label>
        <input type="text" name="plaintiff" id="plaintiff" />

        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" id="last-name" required />

        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name" required />

        <label for="middle-name">Middle Name</label>
        <input type="text" name="middle-name" id="middle-name" />

        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" id="dob" required />

        <label for="case-type">Case Type</label>
        <select name="case-type" id="case-type" required>
          <option value="Criminal">Criminal</option>
          <option value="Civil">Civil</option>
          <option value="Traffic">Traffic</option>
        </select>
      </div>

      <button type="submit">Add</button>
      <!-- <button>Random Record</button> -->
    <!-- </form> -->
    <h2 style="margin-top: 3rem">SEARCH</h2>
    <form action="/" method="GET">
      <div style="display: grid; width: min(50%, 350px); margin-bottom: 1rem">
        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" id="last-name" required />

        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name" required />

        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" id="dob" />

        <label for="case-type">Case Type</label>
        <select name="case-type" required>
          <option value="All">All</option>
          <option value="Criminal">Criminal</option>
          <option value="Civil">Civil</option>
          <option value="Traffic">Traffic</option>
        </select>
      </div>
      <button type="submit">Search</button>
    </form>
  </body>
</html>
