{% extends "base.html" %}
<!--  -->
{% block title %}Case View{% endblock %}
<!--  -->
{% block page_title %}CASE NUMBER: {{case_to_view.case_number}}{% endblock %}
<!--  -->
{%block page_content%}

<div class="case-info">
  <div class="flex-group" style="display: flex; align-items: center; gap: 10px">
    <h5>Case Type:</h5>
    <p style="font-size: 13px">{{case_to_view.case_type}}</p>
  </div>
  <div class="flex-group" style="display: flex; align-items: center; gap: 20px">
    <h5>Case Status:</h5>
    <p style="font-size: 13px">{{case_to_view.case_status}}</p>
  </div>
  <div class="flex-group" style="display: flex; align-items: center; gap: 20px">
    <h5>Date Filed:</h5>
    <p style="font-size: 13px">{{case_to_view.file_date}}</p>
  </div>
  <div class="flex-group" style="display: flex; align-items: center; gap: 20px">
    <h5>Citation Number:</h5>
    <p style="font-size: 13px">{{case_to_view.citation_number}}</p>
  </div>
</div>
<hr />
<div class="defendant-info">
  <div class="flex-group" style="display: flex; align-items: center; gap: 20px">
    <h3>Defendant:</h3>
    <p>
      {{case_to_view.last_name}}, {{case_to_view.first_name}}
      {{case_to_view.middle_name}}
    </p>
  </div>
  <p>Address: {{case_to_view.address}}</p>
  <p>DOB: {{case_to_view.date_of_birth}}</p>
</div>
<div class="plaintiff-info">
  <div class="flex-group" style="display: flex; align-items: center; gap: 20px">
    <h3>Plaintiff:</h3>
    <p>{{case_to_view.plaintiff}}</p>
  </div>
</div>
<hr />
<div class="charges">
  <h3>Charges:</h3>
  <ol style="list-style-position: outside">
    <li>
      <div
        class="charge"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <p>{{case_to_view.offense}}</p>
        <div
          class="flex-group"
          style="display: flex; align-items: center; gap: 20px"
        >
          <h4>Level:</h4>
          <p>{{case_to_view.offense_type}}</p>
        </div>
        <div
          class="flex-group"
          style="display: flex; align-items: center; gap: 20px"
        >
          <h4>Date:</h4>
          <p>{{case_to_view.offense_date}}</p>
        </div>
      </div>
    </li>
  </ol>
</div>
{% endblock %}
